<h1>New Question</h1>

<div class="form-group">
  <form {{action 'save' on='submit'}}>
    <p>
      {{input id="question-title" class="form-control" type="text" valueBinding="title" placeholder="Enter a title for your question"}}
    </p>
    <p>
      {{textarea rows="4" id="question-body" class="form-control" type="text" valueBinding="body" placeholder="Enter your question"}}
    </p>
    <p>
      {{input id="question-date" class="form-control" type="date" valueBinding="date" placeholder="Enter the Date"}}
    </p>
    <button id ="add-question"class="btn btn-large">submit</button>
    </form>
</div>
