<h1>Message Board</h1>

<ul>
  {{#each question in model}}
    <li>{{#link-to 'question' question}}{{question.title}}{{/link-to}}<ul>{{question.author}}, {{question.date}}</ul></li>
  {{/each}}
</ul>

{{#link-to 'new-question' classNames="btn btn-primary"}}Add question{{/link-to}}
